
# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files (variáveis de ambiente locais)
.env
.env.*

# Diretórios de cache e temporários
dist/
build/
out/
tmp/
temp/

# Relatórios e artefatos de teste
test-results/
playwright-report/
*.zip
*.tgz

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db


